.message-hub-container {
  margin-top: 80px;
}

.alerttt {
  background-color: #8458C7;
  color: white;
}

.send-btn {
  background-color: #5B29A3;
  color: white;
}

.send-btn:hover {
  background-color: #5B29A3;
  color: white;
  opacity: 0.8;
}